html,
body {
	height: 100%;
	overflow-y: overlay;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

.content {
	transition: opacity 0.5s ease, height 0.5s ease;
}

.content.active {
	opacity: 1;
	height: auto;
}

.dot {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 8px;
}
